@{
    ViewBag.Title = "Play Ground";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>

<h2>Playground</h2>
<div id="playGround">
@Html.Partial("_PlayGroundPartial")
</div>
<div id="popupwindow" title="Information"></div>
