<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.steve-yi.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://steve-yi.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>eplugplay-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\eplugplay-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyBlog.Models.UsersContext, MyBlog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="db_9ae46c_myblogEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5005.Smarterasp.net;User Id=9ae46c_myblog;password=kings2014;Persist Security Info=True;database=db_9ae46c_myblog" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_9ae46c_myblogEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.MainDbEntities.csdl|res://*/Models.MainDbEntities.ssdl|res://*/Models.MainDbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=MYSQL5005.Smarterasp.net;User Id=9ae46c_myblog;password=kings2014;Persist Security Info=True;database=db_9ae46c_myblog&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyBlogConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5005.Smarterasp.net;port=3306;database=db_9ae46c_myblog;User Id=9ae46c_myblog;password=kings2014;pooling=True;Allow Batch=True;Allow User Variables=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyBlogConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=MYSQL5005.Smarterasp.net; Port=3306; Database=db_9ae46c_myblog;Uid=9ae46c_myblog;Password=kings2014;pooling=true;AllowBatch=true;AllowUserVariables=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MsSqlConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9AE46C_blog;User ID=DB_9AE46C_blog_admin;Password=kings2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MsSqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9AE46C_blog;User Id=DB_9AE46C_blog_admin;Password=kings2014;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db_9ae46c_myblogEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MsSqlConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyBlogConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>