@if (Request.IsAuthenticated) {
        <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Log Out", "Logout", "User")
}
else
{
    <ul>
   <!--  @Html.ActionLink("Register", "Registration", "User") -->
        <span></span>
        @Html.ActionLink("Log In", "Login", "User")
    </ul>
}
