@model MyBlog.Models.ListViewModel

    @{
        //Layout = null;
        Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    }

 <br />
 <br />
  <h1>@ViewBag.Title</h1>
 
  @Html.Partial("_Pager", Model)



<head>
    <title>Steve Yi's Blog</title>
</head>


  @if (Model.Posts.Count > 0)
  {
    foreach (var post in Model.Posts)
    {
      @Html.Partial("_PostTemplate", post)
    }
  }
  else
  {
    <p>No posts found!</p>
  }
   
  @Html.Partial("_Pager", Model)





