@{
    <!--Layout = "~/Views/Shared/_LayoutBlog.cshtml";-->
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Administrator";
}


<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Posts, Categories and Tags</title>
 
    <!-- jquery library -->
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
 
    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link href="~/Content/themes/simple/jqueryuicustom/css/sunny/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <link href="~/Content/themes/simple/jqueryuicustom/css/sunny/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
 
    <!-- jqgrid -->
    <link href="~/Scripts/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jqgrid/js/i18n/grid.locale-en.js"></script>
 
    <!-- tinyMCE -->
    <script src="~/Scripts/tiny_mce/tiny_mce.js"></script>
    <link href="~/Content/themes/simple/admin.css" rel="stylesheet" />
    <script src="~/Scripts/admin.js"></script>
</head>

<script type="text/javascript">
    tinymce.init({
        relative_urls: false,
        // General options
        mode: "exact",
        elements: 'example',
        theme: "advanced",
        plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        content_css: "Content/Site.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url: "lists/template_list.js",
        external_link_list_url: "lists/link_list.js",
        external_image_list_url: "lists/image_list.js",
        media_external_list_url: "lists/media_list.js",

        // Style formats
        style_formats: [
			{ title: 'Bold text', inline: 'b' },
			{ title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
			{ title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
			{ title: 'Example 1', inline: 'span', classes: 'example1' },
			{ title: 'Example 2', inline: 'span', classes: 'example2' },
			{ title: 'Table styles' },
			{ title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ],

        file_browser_callback: function (field_name, url, type, win) {
            win.open('/FileBrowser/Index', 'width=300,height=200,scrollbars=yes,status=yes,location=no,resizable=yes,dependent');
        }
    });

</script>

     
@*    <!-- logout link -->
    <div style="text-align:right; margin-bottom:5px;">
        <a href="/Blog/Logout">logout</a>
    </div>*@
    
    <br />
    <br />
    <br />
    <br />

    <h2>Manage Posts, Categories and Tags</h2>
 
    <!-- tab control -->
    <div id="tabs">
        <ul>
            <li><a href="#tab-posts">Posts</a></li>
            <li><a href="#tab-cats">Categories</a></li>
            <li><a href="#tab-tags">Tags</a></li>
        </ul>
         
        <div id="tab-posts" class="tab">
            <table id="tablePosts" class="grid">
            </table>
            <div id="pagerPosts" class="pager">
            </div>
        </div>
         
        <div id="tab-cats" class="tab">
            <table id="tableCats" class="grid">
            </table>
            <div id="pagerCats" class="pager">
            </div>
        </div>
         
        <div id="tab-tags" class="tab">
            <table id="tableTags" class="grid">
            </table>
            <div id="pagerTags" class="pager">
            </div>
        </div>
    </div>
</html>